<launch>

  <!--  ========================== gazebo and gazebo_gui ================== -->
  <arg name="world_name" default="$(find lidar)/worlds/2world.world"/>
  <arg name="gui" default="false"/> <!-- overwritten -->
  <include file="$(find lidar)/launch/2worldlauncher.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!--  ========================== spawm_model ================== -->
  <arg name="model" default="2burger"/>
  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="0.0"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find lidar)/urdf/$(arg model).urdf.xacro" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model $(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

</launch>
