<launch>
  <!-- ============================= gazebo ============================ -->
  <include file="$(find lidar)/launch/2gazebo.launch">
    <arg name="gui" value="false"/>
  </include>

  <!-- <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/> -->

  <!-- ======= robot_description (param:used by joint_state_publisher & robot_state_publisher)======= -->
  <arg name="model" default="2burger"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find lidar)/urdf/$(arg model).urdf.xacro" />

  <!-- ========================= robot_state_publisher ======================== -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" /> <!--default-->
    <param name="tf_prefix" value=""/><!--multi_robot_names-->
  </node>

  <!-- ========================= joint_state_publisher ======================== -->
  <!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="use_gui" type="bool" value="false" />
  </node> -->

  <!-- ============================= lidar ================================ -->
  <include file="$(find lidar)/launch/2lidar.launch" />

  <!-- ============================= gmapping ============================== -->
  <arg name="set_base_frame" default="base_footprint"/>
  <arg name="set_odom_frame" default="odom"/>
  <arg name="set_map_frame"  default="map"/>
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="$(arg set_base_frame)"/>
    <param name="odom_frame" value="$(arg set_odom_frame)"/>
    <param name="map_frame"  value="$(arg set_map_frame)"/>
    <param name="map_update_interval" value="2.0"/>
    <param name="maxUrange" value="3.0"/>
    <param name="sigma" value="0.05"/>
    <param name="kernelSize" value="1"/>
    <param name="lstep" value="0.05"/>
    <param name="astep" value="0.05"/>
    <param name="iterations" value="5"/>
    <param name="lsigma" value="0.075"/>
    <param name="ogain" value="3.0"/>
    <param name="lskip" value="0"/>
    <param name="minimumScore" value="50"/>
    <param name="srr" value="0.1"/>
    <param name="srt" value="0.2"/>
    <param name="str" value="0.1"/>
    <param name="stt" value="0.2"/>
    <param name="linearUpdate" value="1.0"/>
    <param name="angularUpdate" value="0.2"/>
    <param name="temporalUpdate" value="0.5"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="100"/>
    <param name="xmin" value="-10.0"/>
    <param name="ymin" value="-10.0"/>
    <param name="xmax" value="10.0"/>
    <param name="ymax" value="10.0"/>
    <param name="delta" value="0.05"/>
    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.01"/>
    <param name="lasamplerange" value="0.005"/>
    <param name="lasamplestep" value="0.005"/>
  </node>

  <!-- ====================================== rviz ============================ -->
  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find lidar)/rviz/2gmapping.rviz"/>

</launch>
