

<launch>
	<arg name="name" default="whycon"/>
	<arg name="targets" default="1"/>    <!-- change default according to number of whycon markers you want to detect-->
	<arg name="outer_diameter" default=".55"/>
	<arg name="inner_diameter" default=".20"/>

  <!-- Running whycon node -->
	<node name="whycon" type="whycon" pkg="whycon" output="screen">
		<param name="targets" value="$(arg targets)"/>
		<param name="name" value="$(arg name)"/>
		<param name="outer_diameter" value="$(arg outer_diameter)"/>
		<param name="inner_diameter" value="$(arg inner_diameter)"/> 
		<remap from="/camera/camera_info" to="/usb_cam/camera_info"/>
		<remap from="/camera/image_rect_color" to="/usb_cam/image_rect_color"/>
	</node>


  

	<node ns = "whycon_display" name="image_view" type="image_view" pkg="image_view" output="screen">
		<remap from="image" to="/whycon/image_out"/>
	</node>



  
  
  <!-- Running usb_cam node -->
	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
		<param name="video_device" value="/dev/video1" /><!-- change 0 to the corresponding detected video -->
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="pixel_format" value="yuyv" />
		<param name="framerate" value="30" />
		<param name="camera_frame_id" value="usb_cam" />
		<param name="io_method" value="mmap"/>
	</node>

	<group ns="usb_cam">
		<node pkg="image_proc" type="image_proc" name="image_proc"/><!-- Running image_proc node -->
	</group>
 
  <!-- Running the following nodes for inputting the key -->
	<node name="plutonode" type="plutonode" pkg="plutodrone"/>
	<node name="drone_server" type="key_handling.py" pkg="plutoserver"/>
	<node name="key_command" type="key_command.py" pkg="plutoserver"/>

</launch>
 
