<launch>
  <!-- Localization-only mode -->
  <arg name="localization"      default="false"/>
  <arg     if="$(arg localization)" name="rtabmap_args"  default=""/>
  <arg unless="$(arg localization)" name="rtabmap_args"  default="--delete_db_on_start"/>
	
	<!-- =============================== rtabmap ====================================== -->
  <group ns="rtabmap">
		<node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="$(arg rtabmap_args)">
  	  <remap from="rgb/image" to="/image"/> <!-- connect to "image" topic of the camera below -->
		  <param name="subscribe_depth"     type="bool" value="false"/>    <!-- must be false for appearance-based mode -->
  	  <param name="subscribe_laserScan" type="bool" value="false"/>    <!-- must be false for appearance-based mode -->
  	  <param name="queue_size"          type="int" value="10"/>
			<!-- RTAB-Map's parameters -->
		  <param name="RGBD/Enabled"                   type="string" value="false"/>  <!-- False: appearance-based -->
			<param name="Rtabmap/ImageBufferSize"        type="string" value="0"/>      <!-- process all images -->
			<param name="Rtabmap/DetectionRate"          type="string" value="0"/>      <!-- Go as fast as the camera rate (here 2 Hz, see below) -->
			<param name="Mem/RehearsalSimilarity"        type="string" value="0.4"/>    <!-- 40% -->
			<param name="Mem/STMSize"                    type="string" value="15"/>     <!-- 15 locations in short-term memory -->
			<param name="Mem/RehearsalIdUpdatedToNewOne" type="string" value="true"/>   <!-- On merging, update to new ID-->
			<param name="Mem/BadSignaturesIgnored"       type="string" value="true"/>
			<param name="Kp/DetectorStrategy"            type="string" value="0"/>      <!-- use SURF -->
			<!-- localization mode -->
		  <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
		  <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
		  <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/>
		</node>

		<!-- ==================================== rtabmapviz ==================================== -->
		<node name="rtabmapviz" pkg="rtabmap_ros" type="rtabmapviz" output="screen" args="-d $(find depthcamera)/launch/config/appearance_gui.ini">
			<param name="camera_node_name" type="string" value="/camera"/>      
		</node>

  </group>
  
	<!-- uses video_or_images_path to detect loop closure -->
	<node name="camera" pkg="rtabmap_ros" type="camera" output="screen">
		<remap from="image" to="image"/>
		<param name="device_id"            value="0" type="int"/>
		<param name="video_or_images_path" value="/home/rajendra/Documents/RTAB-Map/ost3_images/rgb" type="string"/>
		<!-- <param name="video_or_images_path" value="/home/rajendra/catkin_ws/bagfiles/rtabmap_downloaded/samples" type="string"/> -->
		<param name="frame_rate"           value="2.0" type="double"/>
		<param name="width"                value="0" type="int"/>
		<param name="height"               value="0" type="int"/>
		<param name="auto_restart"         value="false" type="bool"/> <!-- Process only one time the data set -->
	</node>

</launch>